<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <title>Restaurant List</title>
</head>

<body>
  {{!-- navigation --}}
  <nav class="navbar">
    <div class="container">
      <a class="nav-title" href="/"> <i class="fas fa-cookie-bite"></i> .and Restaurants</a>
    </div>
  </nav>
  {{!-- title-image --}}
  <div class="title-image"></div>

  {{!-- body --}}
  {{{body}}}
  <div class="footer">
    <div class="foot-info">
      <img src="https://res.cloudinary.com/dnivakimu/image/upload/v1611590929/IMG_0070_cdnfmy.png" alt="ashley-logo"
        class="footer-image" style="width: 50px;">
      web designer : Ashley huang
    </div>
    {{!-- <div class="footer-date">
      date : 2021 / 2 / 23
    </div> --}}
  </div>
  <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
  <script src="/javascripts/jquery-3.5.1.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>